<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table>
  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.body %></td>
        <td><%= link_to 'Show', blog %></td>
     </tr>
    <% end %>
  </tbody>
</table>

<br>
